<mat-drawer-container class="sidenav-wrapper" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [opened]="!isScreenSmall"
  >
    <div class="logo-wrapper-sidenav">
      <img
        src="../assets/icons/logo_relate_violet.png"
        alt="Das Relate-Logo."
        class="relate-logo"
      />
    </div>
    <ul class="sidenav-menu">
      <li>
        <a routerLink="/dashboard">
          <mat-card class="menu-card">
            <mat-card-content>
              <mat-icon
                aria-hidden="false"
                aria-label="Dashboard"
                fontIcon="space_dashboard"
              ></mat-icon
              ><span>Dashboard</span>
            </mat-card-content>
          </mat-card>
        </a>
      </li>
      <li>
        <a routerLink="/staff-member">
          <mat-card class="menu-card">
            <mat-card-content>
              <mat-icon
                aria-hidden="false"
                aria-label="Nutzer"
                fontIcon="face"
              ></mat-icon
              ><span>Staff member</span>
            </mat-card-content>
          </mat-card>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary" class="outer-toolbar">
      <mat-toolbar-row>
        <button
          type="button"
          class="icon-button"
          aria-label="Toggle navigation menu"
          (click)="drawer.toggle()"
        >
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet />
    </div>
  </div>
</mat-drawer-container>
